<meta charset="utf-8">

<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/css/weather.css">
    </head>
    <body>
        <div id="weather">
            <section class="container" v-if="result.weather != null && result.weather.length > 0">
                <template v-if="cityType != null && cityType.length > 0">
                    <button type="type" v-for="cityInfo in cityType" @click="getWeather(cityInfo)">{{cityInfo.title}}</button>
                </template>

                <br /><br />

                <div class="weather_frame">
                    <!--<h1> Weather Board </h1>-->
                    <div class="row">
                        <div class="sido">
                            <h2>{{city.title}}</h2>
                            <p>Current Time : {{date}} {{week}} {{time}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="icon" v-if="result.weather[0].main === 'thunderstorm'"> <!-- 뇌우, 천둥번개와 비 -->
                            <div class="cloud2"></div>
                            <div class="thunder">
                                <div class="bolt"></div>
                                <div class="bolt"></div>
                            </div>
                        </div>
                        <div class="icon" v-else-if="result.weather[0].main === 'drizzle'"> <!-- 이슬비 -->
                            <div class="cloud2"></div>
                            <div class="drizzle"></div>
                        </div>
                        <div class="icon" v-else-if="result.weather[0].main === 'rain'"> <!-- 비 -->
                            <div class="cloud2"></div>
                            <div class="rain"></div>
                        </div>
                        <div class="icon" v-else-if="result.weather[0].main === 'snow'"> <!-- 눈 -->
                            <div class="cloud2"></div>
                            <div class="snow">
                                <div class="flake"></div>
                                <div class="flake"></div>
                                <div class="flake"></div>
                                <div class="flake"></div>
                            </div>
                        </div>
                        <div class="icon" v-else-if="result.weather[0].main === 'clear'"> <!-- 맑음, 해 -->
                            <div class="rays">
                                <div class="ray"></div>
                                <div class="ray"></div>
                                <div class="ray"></div>
                                <div class="ray"></div>
                            </div>
                            <div class="sun"></div>
                        </div>
                        <div class="icon" v-else-if="result.weather[0].main === 'clouds'"> <!-- 구름, 흐림 -->
                            <div class="cloudy">
                                <div class="cloud2 small-cloud"></div>
                                <div class="cloud2"></div>
                            </div>
                        </div>
                        <!--<div class="icon">
                            <div class="extreme text-center">
                                <div class="harsh-wind"></div>
                                <div class="harsh-wind"></div>
                                <div class="harsh-wind"></div>
                                <div class="harsh-wind"></div>
                                <div class="harsh-wind"></div>
                                <div class="harsh-wind"></div>
                                <div class="harsh-wind"></div>
                            </div>
                        </div>-->
                        <div class="info">
                            <h3>{{result.weather[0].description}}</h3>
                            <h3><span>기온 </span> {{result.main.temp}} &#8451;</h3>
                            <h3>습도 {{result.main.humidity}}%</h3>
                            <h3>풍속 {{result.wind.speed}}m/s</h3>
                        </div>
                    </div>
                </div>

                <div :id="result.weather[0].main" class="effect">
                    <template v-if="result.weather[0].main === 'thunderstorm'"> <!-- 뇌우, 천둥번개와 비 -->
                        <canvas id="thunderstorm-canvas"></canvas>
                        <div class="rainy front-row"></div>
                        <div class="rainy back-row"></div>
                    </template>
                    <template v-else-if="result.weather[0].main === 'drizzle' || result.weather[0].main === 'rain'"> <!-- 이슬비, 비 -->
                        <div class="rainy front-row"></div>
                        <div class="rainy back-row"></div>
                    </template>
                    <template v-else-if="result.weather[0].main === 'snow'"> <!-- 눈 -->
                        <canvas id="snow-canvas"></canvas>
                    </template>
                    <template v-else-if="result.weather[0].main === 'clouds'"> <!-- 구름, 흐림 -->
                        <div class="clouds">
                            <div class="clouds-1"></div>
                            <div class="clouds-2"></div>
                            <div class="clouds-3"></div>
                        </div>
                    </template>
                </div>
            </section>
        </div>

        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script> <!-- vue 개발버전, 도움되는 콘솔 경고를 포함. -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js"></script> <!-- axios -->

        <script type="text/javascript">
            var vm = new Vue({
                el: "#weather",
                data: {
                    date: "",
                    week: "",
                    time: "00:00:00",
                    cityType: [],
                    title: "",
                    city: {
                        code: "",
                        title: "",
                        lat: 0,
                        lon: 0
                    },
                    result: {
                        coord: {},
                        weather: [{
                            /**
                             * 기상 조건 ID (id, main, description, icon)
                             * 200~232, Thunderstorm, 11d (뇌우, 천둥번개와 비)
                             * 300~321, Drizzle, 09d (이슬비)
                             * 500~531, Rain, 10d (비)
                             * 600~622, Snow, 13d (눈)
                             * 701~781, Mist/Smoke/Haze/Dust/Fog/Sand/Ash/Squall/Tornado, 50d (안개, 먼지, 바람, 돌풍...)
                             * 800, Clear, 01d/01n (맑음, 해)
                             * 801~804, Clouds, 02~04d/02~04n (구름, 흐림)
                             */
                            id: 0,
                            main: "",           // 날씨 매개 변수 그룹
                            description: "",    // 날씨 설명
                            icon: ""            // 날씨 아이콘
                        }],
                        base: "",
                        main: {},
                        wind: {},
                        clouds: {},
                        rain: {},
                        snow: {},
                        dt: 0,
                        sys: {},
                        timezone: 0,
                        id: 0,
                        name: "",
                        cod: 0,
                        visibility: 0
                    }
                },
                methods: {
                    getCityType: function() {
                        axios.get('/api/open-weather/cityType', {})
                        .then(function (response) {
                            vm.cityType = response.data;
                        })
                        .catch(function (error) {
                            console.error(error.response);
                        });
                    },
                    getWeather: function(cityInfo) {
                        var date = new Date();
                        var week = new Array("(SUN)", "(MON)", "(TUE)", "(WED)", "(THU)", "(FRI)", "(SAT)");
                        this.week = week[date.getDate()];
                        this.date = date.getFullYear() + "-" + ("0" + (date.getMonth() + 1)).slice(-2) + "-" + ("0" + date.getDate()).slice(-2);
                        this.time = date.getHours() + ":" + date.getMinutes() + ":" + date.getSeconds();

                        vm.city = cityInfo;
                        vm.clear();

                        axios.get('/api/open-weather/data', {
                            params: {
                                code: vm.city.code,
                                lat: vm.city.lat,
                                lon: vm.city.lon
                            }
                        })
                        .then(function(response) {
                            vm.result = response.data;
                            vm.cityType.forEach(city => {
                                if (city.code === vm.result.name) {
                                    vm.city.title = city.title;
                                    return false;
                                }
                            });

                            if (vm.result != null && vm.result.weather != null && vm.result.weather.length > 0) {
                                vm.result.weather[0].main = vm.result.weather[0].main.toLowerCase();

                                if (vm.result.weather[0].id >= 701 && vm.result.weather[0].id <= 762) {
                                    vm.result.weather[0].main = "clouds";
                                } else if (vm.result.weather[0].id === 771 || vm.result.weather[0].id === 781) {
                                    vm.result.weather[0].main = "thunderstorm";
                                }

                                setTimeout(function() {
                                    vm.event(vm.result.weather[0].main);
                                }, 500);
                            }
                        })
                        .catch(function(error) {
                            console.error(error.response);
                        });
                    },
                    event: function(main) {
                        if (main === "thunderstorm") {
                            vm.thunderstorm();
                            vm.rain();
                        } else if (main === "drizzle") {
                            vm.rain();
                        } else if (main === "rain") {
                            vm.rain();
                        } else if (main === "snow") {
                            vm.snow();
                        }
                    },
                    clear: function() {
                        // clear out everything
                        if (document.querySelector(".rainy") != null) {
                            document.querySelector(".rainy.front-row").innerHTML = '';
                            document.querySelector(".rainy.back-row").innerHTML = '';
                        }
                    },
                    thunderstorm: function() {
                        var canvas           = document.getElementById('thunderstorm-canvas');
                        var ctx              = canvas.getContext('2d');

                        var lightning        = [];
                        var lightTimeCurrent = 0;
                        var lightTimeTotal   = 0;

                        var width = canvas.width = window.innerWidth;
                        var height = canvas.height = window.innerHeight;

                        window.addEventListener('resize', function() {
                            width = canvas.width = window.innerWidth;
                            height = canvas.height = window.innerHeight;
                        });

                        function random(min, max) {
                            return Math.random() * (max - min + 1) + min;
                        }

                        function clearCanvas() {
                            ctx.globalCompositeOperation = 'destination-out';
                            ctx.fillStyle = 'rgba(0,0,0,' + random(1, 30) / 100 + ')';
                            ctx.fillRect(0, 0, width, height);
                            ctx.globalCompositeOperation = 'source-over';
                        }

                        function createLightning() {
                            var x = random(100, width - 100);
                            var y = random(0, height / 4);

                            var createCount = random(1, 3);
                            for (var i = 0; i < createCount; i++) {
                                single = {
                                    x: x,
                                    y: y,
                                    xRange: random(5, 30),
                                    yRange: random(10, 25),
                                    path: [{
                                        x: x,
                                        y: y
                                    }],
                                    pathLimit: random(40, 55)
                                };
                                lightning.push(single);
                            }
                        }

                        function drawLightning() {
                            for (var i = 0; i < lightning.length; i++) {
                                var light = lightning[i];

                                light.path.push({
                                    x: light.path[light.path.length - 1].x + (random(0, light.xRange) - (light.xRange / 2)),
                                    y: light.path[light.path.length - 1].y + (random(0, light.yRange))
                                });

                                if (light.path.length > light.pathLimit) {
                                    lightning.splice(i, 1);
                                }

                                ctx.strokeStyle = 'rgba(255, 255, 255, .1)';
                                ctx.lineWidth = 3;
                                if (random(0, 15) === 0) {
                                    ctx.lineWidth = 6;
                                }
                                if (random(0, 30) === 0) {
                                    ctx.lineWidth = 8;
                                }

                                ctx.beginPath();
                                ctx.moveTo(light.x, light.y);
                                for (var pc = 0; pc < light.path.length; pc++) {
                                    ctx.lineTo(light.path[pc].x, light.path[pc].y);
                                }
                                if (Math.floor(random(0, 30)) === 1) { //to fos apo piso
                                    ctx.fillStyle = 'rgba(255, 255, 255, ' + random(1, 3) / 100 + ')';
                                    ctx.fillRect(0, 0, width, height);
                                }
                                ctx.lineJoin = 'miter';
                                ctx.stroke();
                            }
                        }

                        function animateLightning() {
                            clearCanvas();
                            lightTimeCurrent++;
                            if (lightTimeCurrent >= lightTimeTotal) {
                                createLightning();
                                lightTimeCurrent = 0;
                                lightTimeTotal = 200;  // 천둥 주기, rand(100, 200)
                            }
                            drawLightning();
                        }

                        function animloop() {
                            animateLightning();
                            requestAnimationFrame(animloop);
                        }

                        animloop();
                    },
                    rain: function() {
                        var increment = 0;
                        var drops = "";
                        var backDrops = "";

                        while (increment < 100) {
                            // couple random numbers to use for various randomizations
                            // random number between 98 and 1
                            var randoHundo = (Math.floor(Math.random() * (98 - 1 + 1) + 1));

                            // random number between 5 and 2 (빗방울 높낮이 랜덤 격차)
                            var randoFiver = (Math.floor(Math.random() * (5 - 2 + 1) + 2));

                            // increment
                            increment += randoFiver;

                            // add in a new raindrop with various randomizations to certain CSS properties
                            drops += '<div class="drop" style="left: ' + increment + '%; bottom: ' + (randoFiver + randoFiver - 1 + 100) + '%; animation-delay: 0.' + randoHundo + 's; animation-duration: 0.5' + randoHundo + 's;"><div class="stem" style="animation-delay: 0.' + randoHundo + 's; animation-duration: 0.5' + randoHundo + 's;"></div><div class="splat" style="animation-delay: 0.' + randoHundo + 's; animation-duration: 0.5' + randoHundo + 's;"></div></div>';
                            backDrops += '<div class="drop" style="right: ' + increment + '%; bottom: ' + (randoFiver + randoFiver - 1 + 100) + '%; animation-delay: 0.' + randoHundo + 's; animation-duration: 0.5' + randoHundo + 's;"><div class="stem" style="animation-delay: 0.' + randoHundo + 's; animation-duration: 0.5' + randoHundo + 's;"></div><div class="splat" style="animation-delay: 0.' + randoHundo + 's; animation-duration: 0.5' + randoHundo + 's;"></div></div>';
                        }

                        document.querySelector(".rainy.front-row").innerHTML = drops;
                        document.querySelector(".rainy.back-row").innerHTML = backDrops;
                    },
                    snow: function() {
                        var particleCount = 600;
                        var particleMax   = 2000;
                        var snow          = document.getElementById('weather');
                        var canvas        = document.getElementById('snow-canvas');
                        var ctx           = canvas.getContext('2d');
                        var width         = snow.clientWidth;
                        var height        = snow.clientHeight;
                        var i             = 0;
                        var active        = false;
                        var snowflakes    = [];
                        var snowflake;

                        canvas.style.position = 'absolute';
                        canvas.style.left = canvas.style.top = '0';

                        var Snowflake = function () {
                            this.x = 0;
                            this.y = 0;
                            this.vy = 0;
                            this.vx = 0;
                            this.r = 0;

                            this.reset();
                        };

                        Snowflake.prototype.reset = function() {
                            this.x = Math.random() * width;         // 가로축 시작지점
                            this.y = Math.random() * -height;       // 세로축 시작지점
                            this.vy = 1 + Math.random() * 3;        // 눈 내리는 속도
                            this.vx = 0.5 - Math.random();          // 눈 우측으로 휘날림의 정도
                            this.r = 1 + Math.random() * 6;         // 눈송이의 크기
                            this.o = 0.3 + Math.random() * 0.5;     // 눈송이의 투명도
                        };

                        function generateSnowFlakes() {
                            snowflakes = [];
                            for (i = 0; i < particleMax; i++) {
                                snowflake = new Snowflake();
                                snowflake.reset();
                                snowflakes.push(snowflake);
                            }
                        }

                        generateSnowFlakes();

                        function update() {
                            ctx.clearRect(0, 0, width, height);

                            if (!active) {
                                return;
                            }

                            for (i = 0; i < particleCount; i++) {
                                snowflake = snowflakes[i];
                                snowflake.y += snowflake.vy;
                                snowflake.x += snowflake.vx;

                                ctx.globalAlpha = snowflake.o;
                                ctx.beginPath();
                                ctx.arc(snowflake.x, snowflake.y, snowflake.r, 0, Math.PI * 2, false);
                                ctx.closePath();
                                ctx.fill();

                                if (snowflake.y > height) {
                                    snowflake.reset();
                                }
                            }

                            requestAnimFrame(update);
                        }

                        function onResize() {
                            width = snow.clientWidth;
                            height = snow.clientHeight;
                            canvas.width = width;
                            canvas.height = height;
                            ctx.fillStyle = '#FFF';

                            var wasActive = active;
                            active = width > 600;

                            if (!wasActive && active) {
                                requestAnimFrame(update);
                            }
                        }

                        // shim layer with setTimeout fallback
                        window.requestAnimFrame = (function() {
                            return  window.requestAnimationFrame   ||
                                window.webkitRequestAnimationFrame ||
                                window.mozRequestAnimationFrame    ||
                                function( callback ){
                                    window.setTimeout(callback, 1000 / 60);
                                };
                        })();

                        onResize();
                        window.addEventListener('resize', onResize, false);
                    }
                },
                mounted() {
                    this.$nextTick(function () {
                        // 전체 화면내용이 렌더링된 후에 아래의 코드가 실행됩니다.
                        vm.getCityType();

                        // 현재 위치 파악하기, geolocation을 지원하는지 확인 후 실행
                        if (window.navigator.geolocation) {
                            window.navigator.geolocation.getCurrentPosition(function(response) {
                                var cityInfo = {
                                    lat: response.coords.latitude, // 위도
                                    lon: response.coords.longitude // 경도
                                }
                                vm.getWeather(cityInfo);
                            },
                            function(error) {
                                console.error(error.message);
                            })
                        }
                    })
                }
            })
        </script>
    </body>
</html>