<!DOCTYPE html>
<!--
	Transit by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
	<head>
		<meta charset="UTF-8">
		<title>Generic - Transit by TEMPLATED</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<link rel="stylesheet" href="/include/css/skel.css" />
		<link rel="stylesheet" href="/include/css/common.css" />
		<link rel="stylesheet" href="/include/css/style-xlarge.css" />
	</head>
	<body>
		<!-- Header -->
		<div id="weather" v-cloak>
			<layout-header></layout-header>

			<!-- Main -->
			<section id="main" class="wrapper">
				<div class="login container">
					<section class="box">
						<header class="major">
							<h2>Log In</h2>
						</header>

						<form @submit.prevent="login" method="post">
							<div class="row uniform 50%">
								<label class="login-title" for="loginId"><h4>Email: </h4></label>
								<div class="12u 12u$">
									<input type="email" v-model="loginId" id="loginId" placeholder="Email" />
								</div>

								<label class="login-title" for="password"><h4>Password: </h4></label>
								<div class="12u 12u$">
									<input type="password" v-model="password" id="password" placeholder="password" />
								</div>

								<div class="margin 12u 12u$">
									<input type="submit" class="button fit" value="login" />
								</div>
							</div>
						</form>

						<div class="12u 12u$">
							<a href="/signup.html" class="button alt fit">sign up</a>
						</div>
						<div class="margin align-center">
							<span>SNS 간편 로그인</span>
						</div>
						<div class="margin align-center">
							<a href="#" class="sns">
								<img src="include/img/naver_icon.png" />
							</a>
							<a href="#" class="sns">
								<img src="include/img/kakao_icon.png" />
							</a>
							<a href="#" class="sns">
								<img src="include/img/google_icon.png" />
							</a>
						</div>
					</section>
				</div>
					<!--
					<a href="#" class="image fit"><img src="/include/img/pic07.jpg" alt="" /></a>
					<p>Vis accumsan feugiat adipiscing nisl amet adipiscing accumsan blandit accumsan sapien blandit ac amet faucibus aliquet placerat commodo. Interdum ante aliquet commodo accumsan vis phasellus adipiscing. Ornare a in lacinia. Vestibulum accumsan ac metus massa tempor. Accumsan in lacinia ornare massa amet. Ac interdum ac non praesent. Cubilia lacinia interdum massa faucibus blandit nullam. Accumsan phasellus nunc integer. Accumsan euismod nunc adipiscing lacinia erat ut sit. Arcu amet. Id massa aliquet arcu accumsan lorem amet accumsan.</p>
					<p>Amet nibh adipiscing adipiscing. Commodo ante vis placerat interdum massa massa primis. Tempus condimentum tempus non ac varius cubilia adipiscing placerat lorem turpis at. Aliquet lorem porttitor interdum. Amet lacus. Aliquam lobortis faucibus blandit ac phasellus. In amet magna non interdum volutpat porttitor metus a ante ac neque. Nisi turpis. Commodo col. Interdum adipiscing mollis ut aliquam id ante adipiscing commodo integer arcu amet Ac interdum ac non praesent. Cubilia lacinia interdum massa faucibus blandit nullam. Accumsan phasellus nunc integer. Accumsan euismod nunc adipiscing lacinia erat ut sit. Arcu amet. Id massa aliquet arcu accumsan lorem amet accumsan commodo odio cubilia ac eu interdum placerat placerat arcu commodo lobortis adipiscing semper ornare pellentesque.</p>
					<p>Amet nibh adipiscing adipiscing. Commodo ante vis placerat interdum massa massa primis. Tempus condimentum tempus non ac varius cubilia adipiscing placerat lorem turpis at. Aliquet lorem porttitor interdum. Amet lacus. Aliquam lobortis faucibus blandit ac phasellus. In amet magna non interdum volutpat porttitor metus a ante ac neque. Nisi turpis. Commodo col. Interdum adipiscing mollis ut aliquam id ante adipiscing commodo integer arcu amet blandit adipiscing arcu ante.</p>
					-->
			</section>
			<layout-footer></layout-footer>
		</div>

		<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script> <!-- vue 개발버전, 도움되는 콘솔 경고를 포함. -->
		<script src="https://unpkg.com/http-vue-loader"></script>
		<script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js"></script> <!-- axios -->
		<script src="/include/js/jquery.min.js"></script>
		<script src="/include/js/skel.min.js"></script>
		<script src="/include/js/skel-layers.min.js"></script>
		<script src="/include/js/init.js"></script>
		<script src="https://unpkg.com/vue-cookies@1.7.4/vue-cookies.js"></script> <!-- vue-cookie -->

		<script type="text/javascript">
			var vm = new Vue({
				el: '#weather',
				components: {
					'layout-header': httpVueLoader('/include/layout/header.vue'),
					'layout-footer': httpVueLoader('/include/layout/footer.vue')
				},
				data: {
					loginId: "",
					password: "",
					userId: 0,
					accessToken: "",
					refreshToken: ""
				},
				methods: {
					login: function () {
						var params = {
							loginId: vm.loginId,
							password: vm.password,
							userId: vm.userId
						}
						axios.post("/api/auth/login", params)
							.then(function (response) {
								vm.userId = response.data.userId;
								vm.accessToken = response.data.accessToken;
								vm.refreshToken = response.data.refreshToken;
								$cookies.set("userId", vm.userId);
								$cookies.set("accessToken", vm.accessToken);
								$cookies.set("refreshToken", vm.refreshToken);

								console.log(response);
								console.log($cookies.get("userId"));
								alert("로그인 성공했습니다.");
								location.href = "index.html";
							})
							.catch(function (error) {
								console.error(error.response);
							});
					}
				}
			})
		</script>

	</body>
</html>