<!DOCTYPE html>
<!--
    Transit by TEMPLATED
    templated.co @templatedco
    Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
    <head>
        <meta charset="UTF-8">
        <title>Generic - Transit by TEMPLATED</title>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <meta name="description" content="" />
        <meta name="keywords" content="" />
        <link rel="stylesheet" href="/include/css/skel.css" />
        <link rel="stylesheet" href="/include/css/common.css" />
        <link rel="stylesheet" href="/include/css/style-xlarge.css" />
    </head>
    <body>
        <!-- Header -->
        <div id="weather">
            <layout-header></layout-header>

            <!-- Main -->
            <section id="main" class="wrapper">
                <div class="login container">
                    <section class="box">
                        <header class="major">
                            <h2>Sign Up</h2>
                        </header>

                        <form @submit.prevent="signup" method="post">
                            <div class="row uniform 50%">
                                <label class="signup-title" for="name"><h4>Name: </h4></label>
                                <div class="12u 12u$">
                                    <input type="text" v-model="userName" id="name" placeholder="name" />
                                </div>

                                <label class="signup-title" for="loginId"><h4>Email: </h4></label>
                                <div class="12u 12u$">
                                    <input type="email" @blur="check" v-model="loginId" id="loginId" placeholder="Email" />
                                    <span v-if="count===1">사용중인 아이디입니다</span>
                                    <!--<button type="button" v-model="duplicateCheck" class="button" style="float: right">Duplicate Check</button>-->
                                </div>

                                <label class="signup-title" for="password"><h4>Password: </h4></label>
                                <div class="12u 12u$">
                                    <input type="password" v-model="password" id="password" placeholder="password" />
                                </div>

                                <label class="signup-title" for="confirm-password"><h4>Confirm Password: </h4></label>
                                <div class="12u 12u$">
                                    <input type="password" v-model="confirmPassword" id="confirm-password" placeholder="confirm-password" />
                                </div>

                                <div class="margin 12u 12u$">
                                    <input type="submit" class="button fit" value="sign up" />
                                </div>
                            </div>
                        </form>
                    </section>
                </div>
            </section>

            <layout-footer></layout-footer>
        </div>

        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script> <!-- vue 개발버전, 도움되는 콘솔 경고를 포함. -->
        <script src="https://unpkg.com/http-vue-loader"></script>
        <script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js"></script> <!-- axios -->
        <script src="/include/js/jquery.min.js"></script>
        <script src="/include/js/skel.min.js"></script>
        <script src="/include/js/skel-layers.min.js"></script>
        <script src="/include/js/init.js"></script>

        <script type="text/javascript">
        var vm = new Vue({
            el: "#weather",
            components: {
                "layout-header": httpVueLoader("/include/layout/header.vue"),
                "layout-footer": httpVueLoader("/include/layout/footer.vue")
            },
            data: {
                userName: "",
                loginId: "",
                password: "",
                confirmPassword: "",
                duplicateCheck: 0,
                count: 0
            },
            methods: {
                signup: function () {
                    var params = {
                        userName: vm.userName,
                        loginId: vm.loginId,
                        password: vm.password,
                        confirmPassword: vm.confirmPassword
                    }
                    axios.post("/user/join", params)
                        .then(function (response) {
                            console.log(response);
                        })
                        .catch(function (error) {
                            console.error(error.response);
                        });
                },
                check: function () {
                    var data = new FormData();
                    data.append("loginId", vm.loginId);
                    axios.post("/user/check", data)
                    .then(function (response) {
                        vm.count = response.data;
                        if(response.data == 0) {
                            //alert("사용 가능한 아이디 입니다.");
                        } else {
                            //alert("이미 등록된 아이디 입니다.");
                        }
                    })
                    .catch(function (error) {
                        console.error(error.response);
                    })
                }
            }
        })
        </script>
    </body>
</html>