<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
	<head>
		<meta charset="UTF-8">
		<title>Generic - Transit by TEMPLATED</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<link rel="stylesheet" href="/include/css/skel.css" />
		<link rel="stylesheet" href="/include/css/common.css" />
		<link rel="stylesheet" href="/include/css/style-xlarge.css" />
	</head>
	<body>
		<!-- Header -->
		<div id="weather">
			<layout-header></layout-header>
			<!-- Main -->
			<section id="main" class="wrapper">
				<div class="container">
					<header class="major">
						<h2>Board</h2>
					</header>

					<div v-if="list.length">
						<table class="table table-hover">
							<thead>
								<tr class="text-center">
									<th>제목</th>
									<th>작성자</th>
									<th>작성일</th>
									<th>조회수</th>
								</tr>
							</thead>

							<tbody>
								<tr v-for="(list, i) in list" :key="i">
									<td>{{list.title}}</td>
									<td>{{list.userName}}</td>
									<td>{{list.createdDate}}</td>
									<td>{{list.hit}}</td>
								</tr>
							</tbody>
						</table>
					</div>

					<div v-else>
						게시글이 없습니다.
					</div>

				</div>
			</section>
			<layout-footer></layout-footer>
		</div>

		<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script> <!-- vue 개발버전, 도움되는 콘솔 경고를 포함. -->
		<script src="https://unpkg.com/http-vue-loader"></script>
		<script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
		<script src="/include/js/jquery.min.js"></script>
		<script src="/include/js/skel.min.js"></script>
		<script src="/include/js/skel-layers.min.js"></script>
		<script src="/include/js/init.js"></script>
        <script src="/include/js/common.js"></script>

		<script type="text/javascript">
			var vm = new Vue({
				el: '#weather',
				components: {
					'layout-header': httpVueLoader('/include/layout/header.vue'),
					'layout-footer': httpVueLoader('/include/layout/footer.vue')
				},
				data: {
					list: []
				},
				methods: {
					selectBoardList: function () {
						axios.get('/board/list')
						.then(function (response) {
							vm.list = response.data;
						})
						.catch(function (error) {
							this.handlerException(error.response);
						});
					}
				},
				mounted() {
					this.$nextTick(function () {
						// 전체 화면내용이 렌더링된 후에 아래의 코드가 실행됩니다.
						vm.selectBoardList();
					})
				}
			})
		</script>
	</body>
</html>